@use '@styles/colors';
@use '@styles/vars';

.nav {

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      width: 100px;
      text-decoration: none;
      list-style: none;
      text-align: center;

      a {
        color: colors.$white;
        letter-spacing: 1px;
      }
    }
  }
}