@use '@styles/colors';

.Form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;

  height: 100%;

  padding-bottom: 74px;
}

.buttonBlock {
  button {
    margin: 0 auto;
  }
}

.registrationRef {
  font-size: 14px;
  color: colors.$black;
  text-align: center;

  a {
    color: colors.$blue;
  }
}

.error {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 40px;

  p {
    font-size: 16px;
    color: colors.$red;
    text-align: center;
  }
}