@use '@styles/colors';
@use '@styles/vars';

.body {
  background-color: colors.$white;
  font-family: vars.$font-primary !important;

  main {
    margin: 140px 0 0px;
    min-height: calc(100vh - 80px);
  }
}