.settingsForm {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  &_settingsInputBig {
    max-width: 360px;
  }

  &_settingsInputSmall {
    max-width: 150px;
  }

  &_buttonBlock {
    margin-top: 24px;

    .settingsButton {
      padding: 16px 32px;
    }
  }
}